.Page[b-slavezzdyf] {
    background-color: #efefef;
    padding: 20px 40px 20px;
    height: 100%;
    height: calc(100vh - 300px);
}

.Page__Header[b-slavezzdyf] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 24px;
    border: 1px solid var(--gtt-grey);
    background-color: white;
}

.Page__Header__Titre[b-slavezzdyf] {
    padding: 20px;
    border-bottom: 1px solid var(--gtt-grey);
}

.Page__Header__Body[b-slavezzdyf] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Page__Header__Body__Actions[b-slavezzdyf] {
    padding: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.Page__Header__Formulaire[b-slavezzdyf] {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    width: 80%;
}

.Page__Header__Formulaire__Gauche[b-slavezzdyf] {
    display: flex;
    align-items: center;
}

.Page__Header__Formulaire__Droite[b-slavezzdyf] {
    display: flex;
    align-items: center;
}

.Page__Header__Actions[b-slavezzdyf] {
    background-color: darkred;
}

.Page__Tableau[b-slavezzdyf] {
    border: 1px solid var(--gtt-grey);
    border-radius: 5px;
    overflow: hidden;
}

.PopupBEA__Contenu[b-slavezzdyf] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px 50px 20px;
}

.PopupBEA__Contenu__Haut[b-slavezzdyf] {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: flex-start;
}

.PopupBEA__Contenu__Bas[b-slavezzdyf] {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.PopupBEA__Contenu__Soumission[b-slavezzdyf] {
    margin-top: 30px;
}

.PopupBEA__Contenu__Soumission__Item[b-slavezzdyf] {
    width: 100%;
}

.PopupBEA__Contenu__Haut__Droite[b-slavezzdyf] {
    width: calc(50% - 20px);
}

.PopupBEA__Formulaire[b-slavezzdyf] {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.PopupBEA__Formulaire__Item[b-slavezzdyf] {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.PopupBEA__Formulaire__Item__FileInput[b-slavezzdyf] {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--gtt-amber);
    cursor: pointer;
    font-weight: bold;
    color: var(--gtt-black);
}

.PopupBEA__Formulaire__Item__File[b-slavezzdyf] {
    padding: 4px 8px;
    background-color: var(--gtt-lightgrey);
}


.PopupBEA__TitreSelection__Item[b-slavezzdyf] {
    padding: 4px 8px;
    border: 1px dashed var(--gtt-grey);
}

.ModalRenvoi__Form[b-slavezzdyf] {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.ModalRenvoi__Form__Item[b-slavezzdyf] {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
